<div id="wrapper">
	<p>Uh oh, problem occurred?</p>
	<p>Contact me on <a rel="nofollow" href="http://twitter.com/dvoiss">Twitter</a> or <a href="http://github.com/dvoiss">view the source</a>.</p>
</div>