<div id="wrapper">

    <form>
      <input id='email' name='email' placeholder='Enter your email' value='' />
      <select id="library-select">
        <option value="">Any Library</option>
        <option value="82">Albany Park</option>
        <option value="106">Altgeld</option>
        <option value="72">Archer Heights </option>
        <option value="62">Austin</option>
        <option value="93">Austin-Irving</option>
        <option value="108">Avalon</option>
        <option value="111">Beverly</option>
        <option value="96">Bezazian</option>
        <option value="61">Blackstone</option>
        <option value="114">Brainerd</option>
        <option value="66">Brighton Park</option>
        <option value="320">Bucktown-Wicker Park</option>
        <option value="125">Budlong Woods</option>
        <option value="60">Canaryville</option>
        <option value="71">Chicago Bee</option>
        <option value="112">Chicago Lawn</option>
        <option value="70">Chinatown</option>
        <option value="400">Clearing</option>
        <option value="110">Coleman</option>
        <option value="57">Daley, Richard J.-Bridgeport</option>
        <option value="620">Daley, Richard M.-W Humboldt</option>
        <option value="55">Douglass</option>
        <option value="78">Dunning</option>
        <option value="91">Edgebrook</option>
        <option value="94">Edgewater</option>
        <option value="52">Gage Park</option>
        <option value="79">Galewood-Mont Clare</option>
        <option value="73">Garfield Ridge</option>
        <option value="600">Greater Grand Crossing</option>
        <option value="58">Hall</option>
        <option value="128">Harold Washington Library Center</option>
        <option value="107">Hegewisch</option>
        <option value="97">Independence</option>
        <option value="85">Jefferson Park</option>
        <option value="120">Jeffery Manor</option>
        <option value="104">Kelly</option>
        <option value="53">King</option>
        <option value="67">Legler</option>
        <option value="89">Lincoln Belmont</option>
        <option value="84">Lincoln Park</option>
        <option value="56">Little Village</option>
        <option value="87">Logan Square</option>
        <option value="68">Lozano</option>
        <option value="65">Manning</option>
        <option value="98">Mayfair</option>
        <option value="63">McKinley Park</option>
        <option value="83">Merlo </option>
        <option value="117">Mount Greenwood</option>
        <option value="64">Near North</option>
        <option value="90">North Austin</option>
        <option value="80">North Pulaski</option>
        <option value="86">Northtown</option>
        <option value="77">Oriole Park</option>
        <option value="95">Portage-Cragin</option>
        <option value="121">Pullman</option>
        <option value="88">Roden</option>
        <option value="100">Rogers Park</option>
        <option value="69">Roosevelt</option>
        <option value="123">Scottsdale</option>
        <option value="105">Sherman Park</option>
        <option value="113">South Chicago</option>
        <option value="115">South Shore</option>
        <option value="126">Sulzer Regional</option>
        <option value="118">Thurgood Marshall</option>
        <option value="74">Toman</option>
        <option value="92">Uptown</option>
        <option value="102">Vodak-East Side</option>
        <option value="119">Walker</option>
        <option value="520">Water Works</option>
        <option value="81">West Belmont</option>
        <option value="321">West Chicago Avenue</option>
        <option value="124">West Englewood</option>
        <option value="116">West Lawn</option>
        <option value="260">West Pullman</option>
        <option value="170">West Town</option>
        <option value="101">Whitney M. Young, Jr.</option>
        <option value="127">Woodson Regional</option>
        <option value="122">Wrightwood-Ashburn</option>                  
      </select>
      <input id="search-btn" type='submit' value="Submit" />
      <p id='validation'>Enter a valid email address</p>
    </form>

    <div id="results-top">
        <div id="status-container">
        <img id="progress-spinner" src="/images/progress.gif" alt="Progress Spinner"/>
        <p id="status"></p>
        </div>
        <a href='#' id="back-btn">Change e-mail or library</a>
    </div>

    <div id="directions">
        <p>Enter the email address you use with Amazon. Since wishlists are not a part of Amazon's API, your wishlist will need to be publically available for viewing in order to parse.
    </div>

    <div id="results">
      <h2 id="list-header">The following books are available:</h2>
      <ul id="list"></ul>
    </div>

</div>