body {
  background-color: #fbfbfb;
  font-size: 14px;
  color: #333;
  font-family: Palatino, Georgia, serif;
  padding-top: 30px;
}

/* ------------------------------------------------------------------------
 * Layout
 * ------------------------------------------------------------------------ */

div#status-container {
  float: left;
}

div#wrapper {
  max-width: 48em;
  margin: 0 auto;
  padding: 0 10px 30px 10px;
}

div#directions {
  margin: 0 auto;
  max-width: 40em;
  padding-top: 20px;
}

div#results {
  clear: both;
  padding-top: 20px;
}

form {
  text-align: center;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  background-color: #fbfbfb;
  padding: 5px 0;
  width: 100%;
}

/* ------------------------------------------------------------------------
 * Header
 * ------------------------------------------------------------------------ */

header {
  padding: 30px;
  border-bottom: 1px dashed #bbb;
  border-top: 1px dashed #bbb;
  margin: 0 auto 20px auto;
  text-align: center;
  max-width: 48em;
}

header span {
  font-style: italic;
  letter-spacing: 1px;
  display: block;
  margin-bottom: .25em;
}

a#header-link {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}

a#header-link:hover {
  color: #D4430D;
}

/* ------------------------------------------------------------------------
 * Misc.
 * ------------------------------------------------------------------------ */

h1 {
  font-size: 2em;
  text-align: center;
}

h2#list-header {
  font-size: 1.2em;
  display: none;
}

img#progress-spinner {
  display: none;
  float: left;
  padding-right: 5px;
}

p#status {
  display: inline;
  font-style: italic;
}

p#validation {
  margin-top: 10px;
  color: #f00;
  display: none;
}

.input-validation {
  border: 2px solid #f00;
}

span.library {
  font-style: italic;
}

input#email {
  width: 200px;
}

a {
  text-decoration: none;
  color: #D4430D;
}

a:hover {
  text-decoration: underline;
}

a#back-btn {
  display: none;
  float: right;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

/* ------------------------------------------------------------------------
 * iPad / tablets
 * ------------------------------------------------------------------------ */

@media screen and (max-width: 768px) {
  div#wrapper {
    max-width: 768px;
  }

  div#results-top {
    text-align: center;
  }

  div#status-container {
    float: none;
  }

  img#progress-spinner {
    float: none;
  }

  a#back-btn {
    float: none;
  }
}

/* ------------------------------------------------------------------------
 * iPhone / iPod Touch / other
 * ------------------------------------------------------------------------ */

@media screen and (max-width: 420px) {
  body {
    font-size: 1em;
  }

  div#wrapper {
    max-width: 420px;
    padding: 0 5% 50px 5%;
  }

  input#email {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 75%;
    display: block;
  }

  select#library-select {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 75%;
    display: block;
  }

  header {
    font-size: .75em;
  }
}